In [1]:
import pandas as pd
import altair as alt
import numpy as np
import math
import statsmodels.formula.api as smf
from sklearn.preprocessing import StandardScaler

#### Dependencies:

This project was done on Jupyter notebook hosted locally, and used python and library (not available by default) versions as below:<br>

Python 3.10.4<br>

altair==5.0.0<br>
pandas==2.0.1<br>
numpy==1.24.3<br>
statsmodels==0.14.0<br>
scikit-learn==1.2.2<br>

In [2]:
%load_ext nb_black

In [3]:
# Reading in each country's top ELO rating
elo_rating = pd.read_csv("OUTPUTFILE/top_elo_data.csv")
elo_rating = elo_rating.groupby("country_name", as_index=False)["elo"].max()
elo_rating.head(5)

  country_name   elo
0      Albania  1284
1      Algeria  1537
2       Angola  1512
3    Argentina  1709
4      Armenia  1267

In [4]:
# Reading in the average of top 25 MV domestic clubs per country
top_mv_domestic_club = pd.read_csv("OUTPUTFILE/avg_league_val_by_country.csv")
top_mv_domestic_club = top_mv_domestic_club.drop(columns=["Unnamed: 0"])
top_mv_domestic_club.head(5)

              country_name  market_val
0              Afghanistan       400.0
1                  Albania   2179400.0
2                  Algeria   3690200.0
3           American Samoa         0.0
4  American Virgin Islands      3750.0

In [5]:
# Reading in the World Cup results from 2018 and 2022
wc_results = pd.read_csv("OUTPUTFILE/world_cup_result.csv")
wc_results = wc_results.drop(columns=["Unnamed: 0"])
wc_results.head(5)

  country_name  power_rating
0    Argentina      0.750000
1    Australia      0.437500
2      Belgium      0.656250
3       Brazil      0.828125
4     Cameroon      0.218750

In [6]:
# Reading in the ratio of MV for players who play abroad vs at home
foreign_domestic = pd.read_csv("OUTPUTFILE/foreign_player_national_teams_agg.csv")
foreign_domestic = foreign_domestic.drop(columns=["Unnamed: 0"])

foreign_domestic["avg_mv_diff"] = np.nan_to_num(
    foreign_domestic["mv_play_dom"] / foreign_domestic["num_play_dom"], nan=0
) - np.nan_to_num(
    foreign_domestic["mv_play_int"] / foreign_domestic["num_play_int"], nan=0
)

# Let's get rid of any entries that have ratio of 0
foreign_domestic = foreign_domestic[foreign_domestic.dom_int_mv_ratio != 0]
foreign_domestic.head(5)

,country_name,mv_play_dom,num_play_dom,mv_play_int,num_play_int,dom_int_mv_ratio,avg_mv_diff
0,Australia,6550000.0,8.0,35350000.0,17.0,0.394,-1.260662e+06
1,Belgium,11800000.0,2.0,446500000.0,21.0,0.277,-1.536190e+07
2,Brazil,80000000.0,7.0,777000000.0,16.0,0.235,-3.713393e+07
4,Canada,26800000.0,15.0,214125000.0,38.0,0.317,-3.848202e+06
5,Colombia,14200000.0,6.0,120350000.0,18.0,0.354,-4.319444e+06

In [9]:
secondary_ind = pd.read_csv("OUTPUTFILE/SECONDARY_INDICATORS_AGG.csv")

secondary_ind = secondary_ind.drop(columns=["mv_usd", "power_rating"])

secondary_ind

              country_name       gdp_usd   bmi   life_exp  qol
0              Afghanistan  1.478686e+10  22.3  61.982000   37
1                  Albania  1.825579e+10  27.0  76.463000   54
2                  Algeria  1.630444e+11  24.7  76.377000   51
3           American Samoa  7.090000e+08   0.0   0.000000    0
4                  Andorra  3.330282e+09  27.6   0.000000    0
..                     ...           ...   ...        ...  ...
219  Virgin Islands (U.S.)  0.000000e+00   0.0  80.068293    0
220     West Bank and Gaza  1.803680e+10   0.0  73.473000    0
221            Yemen, Rep.  0.000000e+00   0.0  63.753000    0
222                 Zambia  2.214763e+10  21.0  61.223000   46
223               Zimbabwe  2.837124e+10  21.9  59.253000   38

[224 rows x 5 columns]

In [12]:
wc_results_m = (
    wc_results.merge(foreign_domestic, on=["country_name"], how="left")
    .merge(top_mv_domestic_club, on=["country_name"], how="left")
    .merge(elo_rating, on=["country_name"], how="left")
    .merge(secondary_ind, on=["country_name"], how="left")
)

wc_results_m = wc_results_m.dropna()

# log-scale the market value to reduce skew
wc_results_m["market_val"] = np.log(wc_results_m["market_val"].astype(float))

# Getting rid of Panama
wc_results_m = wc_results_m[wc_results_m.qol != 0]

wc_results_m

,country_name,power_rating,mv_play_dom,num_play_dom,mv_play_int,num_play_int,dom_int_mv_ratio,avg_mv_diff,market_val,elo,gdp_usd,bmi,life_exp,qol
1,Australia,0.437500,6550000.0,8.0,35350000.0,17.0,0.394,-1.260662e+06,15.130094,1424,1.552667e+12,27.8,83.300000,75.0
2,Belgium,0.656250,11800000.0,2.0,446500000.0,21.0,0.277,-1.536190e+07,17.437149,1619,5.941042e+11,27.0,81.890244,63.0
3,Brazil,0.828125,80000000.0,7.0,777000000.0,16.0,0.235,-3.713393e+07,17.895296,1823,1.608981e+12,26.3,72.750000,48.0
5,Canada,0.031250,26800000.0,15.0,214125000.0,38.0,0.317,-3.848202e+06,15.532942,1379,1.988336e+12,27.6,82.596610,68.0
6,Colombia,0.375000,14200000.0,6.0,120350000.0,18.0,0.354,-4.319444e+06,16.093680,1675,3.144641e+11,25.8,72.830000,45.0
7,Costa Rica,0.156250,3100000.0,14.0,6825000.0,8.0,0.260,-6.316964e+05,14.405406,1534,6.428244e+10,26.8,77.023000,57.0
8,Croatia,0.921875,58000000.0,6.0,302300000.0,18.0,0.576,-7.127778e+06,16.254129,1663,6.895508e+10,28.4,76.424390,64.0
9,Denmark,0.437500,9000000.0,3.0,254300000.0,20.0,0.236,-9.715000e+06,16.292385,1574,3.983033e+11,26.5,81.404878,67.0
10,Ecuador,0.250000,6500000.0,6.0,155000000.0,16.0,0.112,-8.604167e+06,15.742995,1689,1.061659e+11,26.5,73.670000,53.0
13,France,1.000000,190000000.0,2.0,954000000.0,21.0,2.091,4.957143e+07,18.738465,1794,2.957880e+12,26.3,82.324390,68.0
14,Germany,0.406250,442500000.0,16.0,103000000.0,5.0,1.343,7.056250e+06,19.014244,1940,4.259935e+12,27.9,80.900976,70.0
18,Japan,0.656250,3200000.0,4.0,176300000.0,22.0,0.100,-7.213636e+06,16.448837,1605,4.940878e+12,23.6,84.445610,71.0
19,Mexico,0.484375,131200000.0,28.0,104800000.0,12.0,0.537,-4.047619e+06,17.356389,1648,1.272839e+12,27.4,70.213000,48.0
20,Morocco,0.562500,1275000.0,2.0,288600000.0,26.0,0.057,-1.046250e+07,15.494064,1619,1.428663e+11,25.3,74.042000,53.0
21,Netherlands,0.437500,161000000.0,9.0,498000000.0,17.0,0.611,-1.140523e+07,17.690496,1775,1.012847e+12,26.4,81.460976,66.0
24,Peru,0.218750,5675000.0,8.0,40900000.0,17.0,0.295,-1.696507e+06,15.882880,1552,2.232495e+11,26.1,72.377000,51.0
25,Poland,0.421875,10500000.0,4.0,218500000.0,21.0,0.252,-7.779762e+06,16.280078,1536,6.794448e+11,27.8,75.602439,62.0
26,Portugal,0.703125,186000000.0,7.0,739500000.0,19.0,0.683,-1.234962e+07,17.796373,1866,2.536631e+11,26.5,81.073171,70.0
31,Serbia,0.218750,8700000.0,3.0,334200000.0,22.0,0.191,-1.229091e+07,16.159468,1751,6.308205e+10,26.9,72.730732,52.0
33,Spain,0.656250,492000000.0,17.0,295000000.0,8.0,0.785,-7.933824e+06,19.106864,1918,1.427381e+12,27.4,83.178049,71.0
34,Sweden,0.406250,4400000.0,3.0,251500000.0,25.0,0.146,-8.593333e+06,16.054133,1528,6.356638e+11,27.0,83.156098,68.0
35,Switzerland,0.625000,14700000.0,5.0,238000000.0,19.0,0.235,-9.586316e+06,16.447975,1630,8.006402e+11,27.1,83.851220,73.0
36,Tunisia,0.328125,10900000.0,10.0,42950000.0,14.0,0.355,-1.977857e+06,15.175564,1547,4.668674e+10,25.6,73.772000,54.0
37,United States,0.296875,71950000.0,23.0,351800000.0,37.0,0.329,-6.379847e+06,17.547047,1524,2.331508e+13,29.0,76.329268,66.0
38,Uruguay,0.625000,11300000.0,3.0,274300000.0,28.0,0.384,-6.029762e+06,15.853974,1616,5.931948e+10,27.4,75.436000,67.0

In [22]:
import statsmodels.formula.api as smf
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

wc_results_m_num = wc_results_m.copy().drop(
    columns=[
        "country_name",
        # "mv_play_dom"
        #         ,"num_play_dom"
        #         ,"mv_play_int"
        #         ,"num_play_int"
    ]
)

wc_results_m_num_norm = pd.DataFrame(
    scaler.fit_transform(wc_results_m_num), columns=wc_results_m_num.columns
)

reg = smf.ols(
    formula="power_rating ~ mv_play_int + mv_play_dom + market_val + gdp_usd + bmi + life_exp + qol",
    data=wc_results_m_num_norm,
).fit()

print(reg.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           power_rating   R-squared:                       0.617
Model:                            OLS   Adj. R-squared:                  0.459
Method:                 Least Squares   F-statistic:                     3.910
Date:                Wed, 14 Jun 2023   Prob (F-statistic):             0.0102
Time:                        07:29:13   Log-Likelihood:                -23.482
No. Observations:                  25   AIC:                             62.96
Df Residuals:                      17   BIC:                             72.71
Df Model:                           7
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept    1.067e-16      0.150    7.1e-16      1.000      -0.317       0.317
mv_play_int     0.3364      0.239      1.405      0.178      -0.169       0.842
mv_play_dom    -0.3902      0.347     -1.125      0.276      -1.122       0.341
market_val      0.7308      0.429      1.705      0.106      -0.173       1.635
gdp_usd        -0.3540      0.185     -1.916      0.072      -0.744       0.036
bmi            -0.2312      0.192     -1.207      0.244      -0.636       0.173
life_exp       -0.7212      0.422     -1.709      0.106      -1.612       0.169
qol             0.9161      0.440      2.083      0.053      -0.012       1.844
==============================================================================
Omnibus:                        2.055   Durbin-Watson:                   1.959
Prob(Omnibus):                  0.358   Jarque-Bera (JB):                0.801
Skew:                           0.315   Prob(JB):                        0.670
Kurtosis:                       3.610   Cond. No.                         7.16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [23]:
reg.params

reg..pvalues[0]

Intercept      1.066625e-16
mv_play_int    3.363531e-01
mv_play_dom   -3.902297e-01
market_val     7.308467e-01
gdp_usd       -3.539978e-01
bmi           -2.312103e-01
life_exp      -7.212383e-01
qol            9.161138e-01
dtype: float64